* {
    box-sizing: border-box;
}

#mainContainer {
    width: 				100%;
    height: 			100%;
    position: 			absolute;
    overflow-y: 		auto !important;
	-webkit-overflow-scrolling: touch;
	z-index: 			9;
}



.page-content-courses-inner{

	max-width: 			1100px;
}


/* top bar css*/
.exerciseLabel {
    /*width: 				45%;
	width: 				60%;
    display: 			inline-block;
    text-align: 		right;
	box-sizing: 		border-box;*/
}

.mainButtons {
    width: 				auto;
    /*display: 			inline-block;
	 margin-top:         -10px;
	 margin-right: 		-16px;
	margin-left: 		15px; */
  float:          left;
  margin-left:    10px;

}

.exercise-headline {
    padding-left: 		0px !important;
    font-size: 			20px !important;
    text-overflow: 		ellipsis;
    overflow: 			hidden;
    white-space: 		nowrap;
	text-align: 		right;
	height: 			30px;
	cursor: 			default;
	color: 				#616161;
	font-family: 		'Roboto','Helvetica','Arial',sans-serif !important;
	line-height: 		40px;
}

.exercise-title {
    width: 				350px;
	font-size: 			20px !important;
}

#ttHeadline {
	text-decoration: 	underline;
	cursor: 			pointer;
	color: 				#3e92d7;
}

#helpButton {
    cursor: 			pointer;
    color: 				gray;
    font-size: 			28px;
    vertical-align: 	middle;
    margin-left: 		8px;
}

.subheadline--right-column {

    margin: 			0px 0px 0px 8px;
    margin-top: 		-10px;
    text-align: 		right;
}

/* .main-btns {
	padding: 			0px 10px;
	font-size: 			13px;
	margin-right: 		5px;
	background: 		transparent;
	color: 				#616161;
	box-shadow: 		none;
} */

.main-btns {
  padding: 0px 0px;
  font-size: 28px;
  background: transparent;
  color: #616161;
  box-shadow: none;
  height: 35px;
}

.main-btns span{
  font-size: 19px;
  display: block;
	/* font-size: 			24px; */
}

.main-btns .material-icons{
  font-size:          28px;
}

:host /deep/ .mdl-button--fab[disabled][disabled]{

	background-color: 	transparent !important;
}

:host /deep/ .mdl-button--fab:hover{

	background-color: 	rgba(0,0,0,.12);
}

.skip.mdl-button.mdl-button--raised{
	background: 		 #ccc;
}

#newBtn .material-icons {
	font-size: 			18px;
	margin-left: 		5px;
}

#nextBtn {
    padding-right: 		2px;
}

#prevBtn {
	padding-left: 		0px;
}

.x-button {
	position: 			absolute;
    top: 				20px;
    right: 				20px;
    min-width: 			20px;
    padding: 			0px 5px;
	background: 		transparent !important;
	box-shadow: 		none !important;
}

.setting-label{

	color: 				#616161 !important;
}

#switchSetting {
	display: 			inline-block;
}


.keyboard-setting {
    /*float: 				right;
	 display: 			inline-block;*/
	float:              left;
	margin-left: 		5px;
	cursor:            	pointer;
	line-height: 		40px;
}

.col1 {
	width: 				auto;
	display: 			inline-block;
	padding-right: 		5px;
}

.col2 {
	width: 				40px;
	display: 			inline-block;
}

:host /deep/ .mdl-switch.is-checked .mdl-switch__thumb {
	background: 		#3e92d7 !important;
}

:host /deep/ .mdl-switch.is-checked .mdl-switch__track {
	background: 		rgba(62,146,215,.5);

}

.mdl-cell--10-col, .mdl-cell--10-col-desktop.mdl-cell--10-col-desktop {
    width: 				calc(83.3333333333% - 16px) !important;
}

.mdl-cell--9-col, .mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
    width: 				calc(78% - 16px) !important;
}

.mdl-cell--3-col, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
    width: 				calc(22% - 16px) !important;
}

#changeIcon{

	display: 			none;
}

#container--header-functions #ttHeadline {

  text-decoration: 		underline;
  cursor: 				pointer;
  color: 				#3e92d7;
  line-height: 			35px;
  max-width: 			500px;
  text-overflow: 		ellipsis;
  overflow: 			auto;
  white-space: 			nowrap;
  display: 				block;
}

#container--header-functions {
  display: 				inline-flex;
  border: 				1px solid #616161;
  margin-right: 		10px;
  border-radius: 		10px;
  padding-left: 		10px;
  padding-right:  		10px;
  height: 				38.2px;
  box-sizing: 			border-box;
  position: 			relative;
 /* min-width: 			280px;*/
}

/* new course runner and game header elements*/

#container--status-info {
  width: 130px;
  float: right;
}

#container--status-info .row {
  float: left;
  width: 30%;
  text-align: center;
}

#container--status-info .row1 {
  float: left;
  width: 100%;
  text-align: right;
  position: relative;
  /*background: #acc7d9;*/
  background: transparent;
  border-radius: 10px;
  padding: 2px 5px;
  box-sizing: border-box;
  border: 1px solid #3e92d7;
  height: 38.2px;
}

#odometer-mini.odometer {
  font-weight: 400;
  margin: 0px;
  color: rgba(66,66,66,.8);
  font-size: 16px;
  line-height: 25px;
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
  color: #3e92d7;

}

#inner-row1 {
  float: left;
  width: 60%;
  text-align: center;
  margin-top: 3px;
}

#inner-row2 {
  float: left;
  width: 40%;
  text-align: center;
}
/* end of line for new course runner and game header elements*/

/* status level bubble css */
#bubble--status-level {
display: none;
}

#container--status-info:hover #bubble--status-level {
position: absolute;
display: block;
}

#bubble--status-level {
  /*width:                  500px;
  height:                 250px;
  padding:                0px;
  background:             #fff;
  -webkit-border-radius:  5px;
  -moz-border-radius:     5px;
  border-radius:          5px;
  color:                  #fff;
  font-size:              17px;
-webkit-box-shadow:     10px 10px 37px -10px rgba(0,0,0,0.5);
-moz-box-shadow:        10px 10px 37px -10px rgba(0,0,0,0.5);
box-shadow:             10px 10px 37px -10px rgba(0,0,0,0.5);
top: 					64px;
  right: 					20px;
z-index:                9999;
  opacity:                0.93;*/
  background:            #ffffff;
  filter:                 drop-shadow(0px 0px 8px rgba(163, 163, 163, 0.6));
  width:                  500px;
  height:                 250px;
  border-radius:          5px;
  padding:                0px;
  top: 					64px;
  right: 					20px;
  z-index:                9999;
}


#bubble--status-level:after {
  /*content: '';
position: absolute;
top: 0;
right: 60px;
width: 0;
height: 0;
border: 20px solid transparent;
border-bottom-color: #ffffff;
border-top: 0;
margin-left: -20px;
margin-top: -20px;
  opacity: 0.70;*/
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;
  border-width: 0 20px 20px;
  top: -20px;
  right: 60px;
  margin-left: -20px;
}


/* end of line for status level bubble css */


@media only screen and (max-width: 1270px) {

	/* .main-btns.sm span{

		display: 		none;
	}

	.main-btns.sm{

		width:          40px !important;
		min-width: 	    40px !important;
		padding:        0px 5px !important;
	} */

	/* .mainButtons #changeBtn,
	.mainButtons #newBtn{

		font-size: 		11px;
	} 
	
	 #container--header-functions #ttHeadline{

    max-width: 			100px;
  }
	
	*/

	#newBtn .material-icons{

		margin-left: 	0px;
	}

	.exercise-headline {
		font-size: 		18px !important;
  }

 
}


@media only screen and (max-width: 1060px) {

	#container--header-functions #ttHeadline {
		max-width: 			400px;
	}
}


@media only screen and (max-width: 1024px) {
    .subheadline {
		line-height: 	35px;
	}
}


/*
@media (max-width: 985px) {
	.exerciseLabel {
		width:          50%;
	}

	.exercise-headline {
		font-size: 		16px !important;
	}

}

*/


@media only screen and (max-width: 980px) {


	/*.exerciseLabel {
		width:          	50%;
	}*/

	.exercise-headline {
		font-size: 			16px !important;
	}

	.skip.button--primary-continue{
		font-size: 			11px;
	}

	.mdl-cell.mdl-cell--4-col {
		width: 				230px !important;
	}

}

@media only screen and (max-width: 930px) {

	#container--header-functions #ttHeadline {
		max-width: 			300px;
	}
}

@media (max-width: 840px) {

	.mdl-cell.mdl-cell--8-col.subheadline--right-column{
		width: 				calc(65% - 16px) !important;
	}

	.mdl-cell--9-col, .mdl-cell--9-col-desktop.mdl-cell--9-col-desktop,
	.mdl-cell--8-col, .mdl-cell--9-col-desktop.mdl-cell--8-col-desktop {
		width: 				calc(80% - 16px) !important;
	}

	.mdl-cell--3-col, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop,
	.mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
		width: 				calc(20% - 16px) !important;
	}
}

@media (max-width: 810px) {

	#changeBtn #changeIcon{

		display:        block;
	}

	#changeBtn span{

		display: 		none;
	}

	#changeBtn{

		width:          60px !important;
		min-width: 	    60px !important;
		padding:        0px 5px !important;
	}



}

@media only screen and (max-width: 780px) {

	#container--header-functions #ttHeadline {
		max-width: 			200px;
	}
}

@media (max-width: 750px) {

	.mdl-cell.mdl-cell--8-col.subheadline--right-column{
		width: calc(45% - 16px) !important;
	}


}

@media (max-width: 745px) {

	#exercise-span{

		display: 		none;
	}

	/*.exerciseLabel {
		width:          40%;
	}
*/

}


/* @media (max-width: 600px) {


	.main-btns.sm{

		width:          30px !important;
		min-width: 	    30px !important;
		padding:        0px 5px !important;
	}

} */
@media only screen and (max-width: 660px) {

	#container--header-functions #ttHeadline {
		max-width: 			100px;
	}
}
@media (max-width: 500px){

	.mdl-cell.mdl-cell--4-col{
		width: 			220px !important;
	}

	.skip.button--primary-continue{
		font-size: 		9px;
		width: 			170px;
		padding: 		0px;
	}

}


@media (max-width: 450px){
	.mdl-cell.mdl-cell--8-col.inner-cell.mdl-typography--text-right{
		display: 		none;
	}
}
