/* Password Change Dialog */

.disableDialogOverlay {
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    z-index:                  200000;
}

.disableDialog{
    width:                    100%;
    height:                   100%;
    background:               rgba(255,255,255,.5);
}

.login-form-grid {
    padding: 1em;
}

.changePasswordDialogContainer{

    width:                   485px;
    height:                  540px;
    position:                absolute;
    top:                     50%;
    left:                    50%;
    margin-left:             -242.5px;
    margin-top:              -270px;
    -webkit-box-shadow:      0px 9px 25px -2px rgba(0,0,0,0.64);
    -moz-box-shadow:         0px 9px 25px -2px rgba(0,0,0,0.64);
    box-shadow:              0px 9px 25px -2px rgba(0,0,0,0.64);
    background:              #fff url('https://resources.ereflect.com/PrepEd/webApp/assets/icon/login-bg.svg') no-repeat;


}

#buttonGroupDiv1{

    margin:                    0px auto !important;
    text-align:                center;

}

#contentDiv{

    padding:                  10px 20px;
    box-sizing:               border-box;
}

@media only screen and (max-width: 500px){

    .changePasswordDialogContainer{

        width:                   300px;
        height:                  500px;
        margin-left:             -150px;
        margin-top:              -250px;
        background-size:         500px;
    }

}


@media only screen and (max-height: 500px){

    .changePasswordDialogContainer{

        width:                   500px;
        height:                  320px;
        margin-left:             -240px;
        margin-top:              -160px;
        background-size:         500px;
    }

}