<div id="uploadDiv" class="progress-bar-box mdl-shadow--2dp" [class.hide]="hide">
    <div id="header">
        <span id="header-text">{{ headerText }}</span>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect x-button close" (click)="close_clickHandler()">
            <i class="material-icons">close</i>
        </button>
    </div>

    <div class="items-container">
        <div class="item-div" *ngFor="let file of fileUploads">
            <div class="item-col1"><span class="item-text">{{ file.filename }}</span></div>
            <div class="item-col2"><span class="item-text">{{ (file.progress < 100 && file.progress > 0) ? file.progress + '%' : file.status }}</span></div>
            <div class="item-col3">        
                <mdl-progress [progress]="file.progress"></mdl-progress>
            </div>
        </div>
    </div>
</div>