.st0 {
    fill: #999999;
}

.st1 {
    fill: #B3B3B3;
}

.st2 {
    fill: #FFFFFF;
}

.st3 {
    fill: #CCCCCC;
}

.st4 {
    fill: #444444;
}

.st5 {
    enable-background: new;
}

.st6 {
    fill: none;
}

.st7 {
    font-family: 'MyriadPro-Semibold';
}

.st8 {
    font-size: 18px;
}

.st9 {
    fill: url(#SVGID_1_);
}