/* User Control */

.mdl-textfield{
    width: 100%;
}

:host /deep/ .mdl-textfield__label{
    color: #757575;
}

:host /deep/ .mdl-textfield.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
    color: #09539d;
}

:host /deep/ .mdl-textfield.is-focused .mdl-textfield__label:after{    
    background-color: #09539d;
}